/* .header {
    max-height: 40px;
    padding: 7px 350px 7px 35px;
}
.header-element {
    display: inline-block;
}
.logo {
    height: 30px;
}
.profilepic {
    height: 20px;
    border-radius: 100%;
} */