/* .header {
    max-height: 40px;
    padding: 7px 350px 7px 35px;
}
.header-element {
    display: inline-block;
}
.logo {
    height: 30px;
}
.profilepic {
    height: 20px;
    border-radius: 100%;
} */
/* Created in case we need to overwrite Bootstrap */
.submit {
    background-color: #19968e;
    border: solid #089991;
    color: white;
    border-radius: 2px;
}
.main-photo {
    background-color: purple;
}
.thumbnails {
    background-color: orange;
}
.house-deets {
    background-color: aqua;
}
.price-booking {
    background-color: lightcoral
}
.review {
    background-color: darkorchid;
}
